file filter=lfs diff=lfs merge=lfs -text
type filter=lfs diff=lfs merge=lfs -text
*.largefileextension filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
Replace filter=lfs diff=lfs merge=lfs -text
with filter=lfs diff=lfs merge=lfs -text
the filter=lfs diff=lfs merge=lfs -text
appropriate filter=lfs diff=lfs merge=lfs -text
automatic-number-plate-recognition-python/yolov3-from-opencv-object-detection/model/weights/model.weights filter=lfs diff=lfs merge=lfs -text
*.weights filter=lfs diff=lfs merge=lfs -text
If filter=lfs diff=lfs merge=lfs -text
a filter=lfs diff=lfs merge=lfs -text
your filter=lfs diff=lfs merge=lfs -text
large filter=lfs diff=lfs merge=lfs -text
files filter=lfs diff=lfs merge=lfs -text
have filter=lfs diff=lfs merge=lfs -text
specific filter=lfs diff=lfs merge=lfs -text
extension filter=lfs diff=lfs merge=lfs -text
path/to/largefile filter=lfs diff=lfs merge=lfs -text
